/* Michelin Brand Colors */
:root {
  --mic-brand-color-blue: #27509b;
  --mic-brand-color-yellow: #fce500;
  --mic-brand-color-grey: #eeeeee;
  --mic-brand-color-light-grey: #fafafa;
  
  /* Theme Settings */
  --mainFont: "Gohu-Regular", sans-serif;
  --headingFont: "Montserrat", sans-serif;
  --mainColor: var(--mic-brand-color-blue); /* Primary color for text */
  --headingColor: var(--mic-brand-color-blue); /* Heading color */
  --backgroundColor: var(--mic-brand-color-light-grey); /* Background color */
  --linkColor: var(--mic-brand-color-blue); /* Link color */
  --linkColorHover: #3670c4; /* Hover state for links */
  --selectionBackgroundColor: var(--mic-brand-color-yellow); /* Highlight color */
  --overlayElementBgColor: var(--mic-brand-color-grey); /* Overlay background color */
  --overlayElementFgColor: #f0f0f0; /* Foreground color */
}


@font-face {
  font-family: 'Gohu-Regular';
  src: url('./fonts/GohuFont11NerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Terminess-Regular';
  src: url('./fonts/TerminessNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HurmitNerdFont-Regular';
  src: url('./fonts/HurmitNerdFont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HurmitNerdFont-Bold';
  src: url('./fonts/HurmitNerdFont-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  background: var(--backgroundColor);
  font-family: var(--mainFont);
  user-select: none;
}

.container {
  position: relative;
  padding-top: 1rem;
  border-radius: 50px;
  background-color: var(--mainColor);
  border: 4px solid var(--mic-brand-color-grey);
  outline: 4px solid var(--mainColor);
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ajustez selon la taille souhaitée de l'image */
  height: 100%; /* Ajustez selon la taille souhaitée de l'image */
  background-image: url('/bib.svg'); /* Chemin vers votre image SVG */
  background-size: contain; /* Assure que l'image est contenue dans le parent */
  background-position: left; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  opacity: 0.3; /* Opacité pour rendre l'image subtile */
  pointer-events: none; /* Permet aux événements de pointer à travers l'image */
}

.part1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
}

.part1 div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.part1 span {
  color: var(--mic-brand-color-light-grey);
}

.part1 .phone-icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-family: var(--headingFont);
}


.part2 .signal-left,
.part2 .signal-right {
  color: var(--mic-brand-color-grey);
  font-size: 4rem;
}
.signal-selected {
  color: var(--mic-brand-color-yellow) !important;
  font-size: 4rem;
}


.part2 .direction {
  color: var(--mic-brand-color-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 1rem;
  background-color: var(--mainColor);
  border-radius: 10px;
  border: 2px solid var(--mic-brand-color-grey);
}

.part2 .direction .div1 {
  text-align: center;
  font-weight: 500;
}

.part2 .direction .div2 .span1 {
  font-weight: 500;
}

.part2 .direction .div2 .span2 {
  font-weight: 400;
}

.part3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--headingFont);
}

.part3 .middle-top {
  color: var(--mic-brand-color-light-grey);
  text-align: center;
}

.part3 .middle-top .number {
  font-size: 6rem;
  font-weight: 900;
}

.part3 .middle-top .km-h {
  font-size: 2rem;
  font-weight: 500;
}

.part3 .middle-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

.part3 .middle-bottom .gas-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--mic-brand-color-grey);
}

.part3 .middle-bottom .gas-icon {
  font-size: 2rem;
}

.part3 .middle-bottom .battery-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--mic-brand-color-grey);
}

.part3 .middle-bottom .battery-icon {
  font-size: 2rem;
}

.part3 .middle-bottom .left-line {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, var(--mic-brand-color-grey), rgba(0, 0, 0, 0)) 1 100%;
  height: 200px;
  transform: rotate(40deg);
}

.part3 .middle-bottom .center-line div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.part3 .middle-bottom .center-line span {
  font-family: var(--mainFont);
}

.part3 .middle-bottom .center-line .vehicle-icon {
  font-size: 4rem;
  text-align: center;
  color: white;
}

.part3 .middle-bottom .right-line {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, var(--mic-brand-color-grey), rgba(0, 0, 0, 0)) 1 100%;
  height: 200px;
  transform: rotate(-40deg);
}

/* tachometer */

.tachometer {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: var(--mainColor);
  border-radius: 50%;
  border: 4px solid var(--mic-brand-color-grey);
  box-sizing: border-box;
  font-weight: 500;
}
.tachometer-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: rotate 2s alternate infinite ease-in-out;
  transition: all 0.3s ease-out;
  transform: rotate(90deg);
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(20deg);
  }
  to {
    -webkit-transform: rotate(340deg);
  }
}
.tachometer-pointer-border {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
.tachometer-pointer-box {
  position: absolute;
  bottom: -65px;
  left: 23px;
  width: 4px;
  height: 90px;
  background-color: var(--mic-brand-color-grey);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.tachometer-item {
  position: absolute;
  font-size: 1rem;
  color: var(--mic-brand-color-light-grey);
}
.tachometer-item.red {
  color: red;
}
.tachometer-item.first {
  left: 90px;
  bottom: 20px;
}
.tachometer-item.second {
  left: 40px;
  bottom: 60px;
}
.tachometer-item.third {
  left: 15px;
  bottom: 130px;
}
.tachometer-item.fourh {
  left: 30px;
  top: 70px;
}
.tachometer-item.fifth {
  top: 25px;
  left: 70px;
}
.tachometer-item.sixth {
  top: 10px;
  left: 135px;
}
.tachometer-item.seventh {
  top: 25px;
  right: 70px;
}
.tachometer-item.eighth {
  top: 70px;
  right: 30px;
}
.tachometer-item.ninth {
  right: 15px;
  bottom: 130px;
}

.tachometer-item.tenth {
  right: 40px;
  bottom: 60px;
}
.tachometer-item.eleventh {
  right: 90px;
  bottom: 20px;
}

.tachometer-icons {
  font-size: 1.5rem;
  right: 10%;
  top: 10%;
}

.tachometer-icons .door-icon {
  position: absolute;
  top: 25%;
  left: 45%;
  color: var(--mic-brand-color-grey);
}

.tachometer-icons .oil-icon {
  position: absolute;
  top: 65%;
  left: 45%;
  color: var(--mic-brand-color-grey);
}

.tachometer-icons .triangle-icon {
  position: absolute;
  top: 45%;
  left: 25%;
  color: var(--mic-brand-color-grey);
}

.tachometer-icons .key-icon {
  position: absolute;
  top: 45%;
  left: 65%;
  color: var(--mic-brand-color-grey);
}

/* speedometer */

.speedometer {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: var(--mainColor);
  border-radius: 50%;
  border: 4px solid var(--mic-brand-color-grey);
  box-sizing: border-box;
  font-weight: 500;
}

.speedometer-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.speedometer-pointer-border {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}

.speedometer-pointer-box {
  position: absolute;
  bottom: -65px;
  left: 23px;
  width: 4px;
  height: 90px;
  background-color: var(--mic-brand-color-grey);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.speedometer-item {
  position: absolute;
  font-size: 1rem;
  color: var(--mic-brand-color-light-grey);
}
.speedometer-item.red {
  color: var(--mic-brand-color-grey);
}
.speedometer-item.first {
  left: 90px;
  bottom: 20px;
}
.speedometer-item.second {
  left: 40px;
  bottom: 60px;
}
.speedometer-item.third {
  left: 15px;
  bottom: 130px;
}
.speedometer-item.fourh {
  left: 30px;
  top: 70px;
}
.speedometer-item.fifth {
  top: 25px;
  left: 70px;
}
.speedometer-item.sixth {
  top: 10px;
  left: 135px;
}
.speedometer-item.seventh {
  top: 25px;
  right: 70px;
}
.speedometer-item.eighth {
  top: 70px;
  right: 30px;
}
.speedometer-item.ninth {
  right: 15px;
  bottom: 130px;
}
.speedometer-item.tenth {
  right: 40px;
  bottom: 60px;
}
.speedometer-item.eleventh {
  right: 90px;
  bottom: 20px;
}

.speedometer-klm span {
  position: absolute;
  color: var(--mic-brand-color-light-grey);
  right: 124px;
  bottom: 80px;
  font-size: 1rem;
  font-weight: 400;
}

.part4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
  font-family: var(--mainFont);
}

.part4 span {
  color: var(--mic-brand-color-light-grey);
}

.part4 .hover-div div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.part4 .hover-div .tooltip-text {
  visibility: hidden;
  background-color: var(--mainColor);
  color: var(--mic-brand-color-light-grey);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 400;
}

.part4 .hover-div:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#errorModal {
  display: none; /* Cacher par défaut */
}

.modal {
  display: none; /* Cacher par défaut */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
